.data-section {
  margin-left: 340px;
  height: 100vh;
  background-color: #f8f9fa;
  overflow-y: scroll;
  padding: 40px 35px;
  font-weight: 400;
}

.subject {
  margin-bottom: 56px;
}

.subject__title {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.subject__title__code {
  background-color: #94d82d;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  margin-right: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 6px 14px;
}

.subject__title__text {
  font-size: 32px;
  color: #343a40;
}
