.filters-sidebar {
  width: 340px;
  border: 1px solid #ebedf0;
  height: 100vh;
  padding: 40px 15px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.filters__section {
  margin-bottom: 40px;
}

.filters__label {
  font-size: 16px;
  margin-bottom: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
}
